{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/uikit.gradient.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sticky.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/progress.css' %}">
        <link rel="stylesheet" href="{% static 'css/my.style.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/components/sticky.js' %}"></script>
        {% block head %}
        {% endblock %}

        <script type="text/javascript">
            $('document').ready(function(){
                //alert('hello world!')

                $("a.success").click(
                    function(){
                        $("#use_ip_id").val($(this).attr('id'));
                    });
            });
        </script>
    </head>

    <body>
    {% block body %}
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <!-- error display -->
        {% if error %}
            <div class="uk-container-center uk-text-center uk-alert uk-alert-danger uk-width-1-2" data-uk-alert>
                <a href="" class="uk-close uk-alert-close"></a>
                错误<span class="uk-margin-left">{{ error }}</span>
            </div>
        {% endif %}

            <div class="uk-grid" style="min-width:1000px;">
                <!-- left net box -->
                <div class="uk-width-1-5">
                {% block left %}
                {% for i in nets %}
                    <div class="uk-visible-hover" style="position:relative;">
                        <a class="button" href="{% url 'ipmanage:net_detail' i.id %}">
                            <div class="uk-panel uk-panel-box uk-margin-top {% ifequal i.id net.id %}uk-panel-box-secondary{% else %}unselect{% endifequal %}">
                                <h2 id='netname' class="uk-panel-title">{{ i.name }}</h2>
                                {% if i.desc %}
                                <dl class="uk-description-list-line">
                                    <!--<dt>Description</dt>-->
                                    <dd id="netdesc">{{ i.desc }}</dd>
                                </dl>
                                {% endif %}
                                <div>已使用&nbsp;{{ i.use_per }}%({{ i.count_used }}/{{ i.count_all }})</div>
                                <div class="uk-progress uk-progress-success uk-progress-small">
                                    <div class="uk-progress-bar" style="width:{{ i.use_per }}%"></div>
                                </div>
                            </div>
                        </a>
                        <!-- operate button -->
                        <a id="{{ i.id }}" class="netmodify uk-hidden" href="#netmodifybox" data-uk-modal><li class="uk-icon-pencil-square-o uk-icon-small" style="position:absolute;left:72%;top:10px;"></li></a>
                        <a id="{{ i.id }}" class="netdelete uk-hidden danger" href="#netdeletebox" data-uk-modal><li class="uk-icon-times-circle uk-icon-small" style="position:absolute;left:85%;top:10px;"></li></a>
                    </div>
                {% endfor %}
                {% endblock %}
                    <!-- add new network -->
                    <a class="button" href="#netaddbox" data-uk-modal>
                       <div class="unselect uk-panel uk-text-center uk-panel-box uk-margin-top" style="border:1px dashed #bbb;">
                           <dl class="uk-description-list-line">
                               <!--<dt>Description</dt>-->
                               <dd id="netdesc">添加一个新的网络</dd>
                           </dl>
                       </div>
                    </a>

                    <hr class="uk-grid-divider"></hr>
                    <!-- account bar -->
                    <div class="logout-box uk-panel uk-text-center uk-panel-box uk-margin-top" style="border:1px dashed #bbb;">
                        <dl class="uk-description-list-line">
                            <!--<dt>Description</dt>-->
                            <dd id="netdesc">Hi!&nbsp;{{ username }}
                                <span class="uk-margin-left">|</span><a href="{% url 'ipmanage:logout_deal' %}" class="uk-margin-left" href="">登出</a>
                            </dd>
                        </dl>
                    </div>
                </div>
        <!-- right area -->
        {% block right %}
        {% endblock %}
            </div>
        </div>
    {% endblock %}
    </body>
</html>

<!-- 弹窗 -->
<form action="{% url 'ipmanage:net_deal_add' %}" class="uk-form uk-form-horizontal" method="POST">
    <div id="netaddbox" class="uk-modal">
        <div class="uk-modal-dialog">
        {% csrf_token %}
            <div class="uk-modal-header uk-grid"><i class="uk-icon-plus uk-icon-medium" style="color:#8CC14C;"></i><h2>添加新网络</h2></div>
            <div class="uk-form-row"><label class="uk-form-label">网络名称<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls"><input id="netmodifyname" type="text" autocomplete="off" name="name"></div></div>
            <div class="uk-form-row"><label class="uk-form-label">附加描述</label><div class="uk-form-controls"><textarea id="netmodifydesc" type="text" autocomplete="off" name="desc"></textarea></div></div>
            <input type="text" class="uk-hidden" name="operate" value="add">
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary">确定</button>
            </div>
        </div>
    </div>
</form>
