{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
    'use strict'
    $('document').ready(function(){
        var search_key = {% if search %}"{{ search }}"{% else %}null{% endif %};
    
        // 将URL参数转换成JS对象结构
        var args = function() {
            var qs = (location.search.length > 0 ? location.search.substring(1) : "");
            var args = {};
            var items = qs.length ? qs.split("&") : [];
            var item = null, name = null, value = null;
            var i = 0, len = items.length;
            for (i=0; i<len; i++) {
                item = items[i].split("=");
                name = decodeURIComponent(item[0]);
                value = decodeURIComponent(item[1]);
                if (name.length) {
                    args[name] = value;
                }
            }
            return args;
        }();

        // JS 实现未使用资产筛选
        $("input#filter_used").click(function(){
            if (this.checked == true) {
                args["unused"] = "true";
            }
            if (this.checked == false) {
                args["unused"] = "false";
            }
            var search = "";
            for (name in args) {
                search = search + "&" + name + "=" + args[name];
            }
            if (search.length > 0) {
                search = "?" + search.substring(1);
            }
            location.href = search;
        });
        
        // 高亮显示结果中包含的搜索关键字
        !function(){
            if(search_key != null) {
                $("table#assetList td.canBeSearch").each(function(){
                    $(this).html($(this).text().replace(/{{search}}/g, '<span class="search">{{search}}</span>'));
                });
            }
        }();

        // 资产数据添加
        $("A#assetAdd").click(function(e){
            var i = 0,
                assetDiv = $($(this).attr("href")),
                add_count = assetDiv.find("#add_count"),
                header = assetDiv.find("div.uk-modal-header");
                
            add_count.removeClass("none");
            assetDiv.parent().attr("action", "{{prefix}}/{{catagory}}s/add/");
            assetDiv.find("input").val("");
            header.html("<i class='uk-icon-plus-square uk-icon-medium' style='color:#8CC14C;'></i><h2>添加资产</h2>");
        });
        
        // 资产数据编辑
        $("table#assetList").click(function(e){
            var $a = $(e.target).closest("A");
            if ($a.hasClass("modify")) {
                var i = 0,
                    tds = $a.closest("TR").children("td.column"),
                    assetDiv = $($a.attr("href")),
                    add_count = assetDiv.find("#add_count"),
                    header = assetDiv.find("div.uk-modal-header");
                
                add_count.addClass("none");
                assetDiv.parent().attr("action", "{{prefix}}/{{catagory}}s/"+$a.attr("id")+"/update/");
                header.html("<i class='uk-icon-pencil-square-o uk-icon-medium' style='color:#07d;'></i><h2>修改资产</h2>");
                
                for(; i < tds.length; i++) {
                    assetDiv.find("#"+tds[i].id).val($(tds[i]).data("value"));
                }
            }
        });
        // 资产数据删除
        $("table#assetList").click(function(e){
            var $a = $(e.target).closest("A");
            if ($a.hasClass("danger")) {
                var i = 0,
                    info = "";
                    tds = $a.closest("TR").children("td.column"),
                    assetDelDiv = $($a.attr("href"));

                assetDelDiv.parent().attr("action", "{{prefix}}/{{catagory}}s/"+$a.attr("id")+"/delete/");
                
                for(; i < tds.length; i++) {
                    info += $(tds[i]).text()+" ";
                }
                assetDelDiv.find(".motion").text(info);
            }
        });
    });
</script>
{% endblock %}

{% block left %}
    <ul class="uk-nav uk-nav-side uk-nav-parent-icon">
        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
        <li>
            <a id="assetAdd" href="#assetform" data-uk-modal><i class="uk-icon-plus-square"></i>&nbsp添加资产</a>
        </li>
        <li class="uk-nav-divider"></li>
        {% endif %}

        <li class="{% if catagory == 'display' %}uk-active{% endif %}"><a  href="{{prefix}}/asset/display/{% if search %}?search={{search}}{% endif %}">显示器</a></li>
        <li class="{% if catagory == 'host' %}uk-active{% endif %}"><a  href="{{prefix}}/asset/host/{% if search %}?search={{search}}{% endif %}">台式主机</a></li>
        <li class="{% if catagory == 'laptop' %}uk-active{% endif %}"><a  href="{{prefix}}/asset/laptop/{% if search %}?search={{search}}{% endif %}">笔记本电脑</a></li>
        <li class="uk-nav-divider"></li>
        <li><input id="filter_used" type="checkbox" {% if session['unused'] == True %}checked{% endif %}/>只显示未使用资产</li>
    </ul>
{% endblock %}

{% block right %}
    <div class="uk-width-3-4">
        <!-- search box -->
        <div class="uk-container" style="padding:0px;" data-uk-sticky="{top:10}">
            <div class="uk-flex-right uk-grid">
                <div class="uk-width-1-2"></div>
                <div class="uk-text-right uk-width-1-2">
                <form class="uk-form" method="GET" action="">
                    <fieldset data-uk-margin>
                        <div class="uk-form-icon"><i class="uk-icon-search"></i>
                        <input placeholder="search..." autocomplete="off" type="text" name="search" value="{% if search %}{{search}}{% endif %}">
                        <button class="uk-button mybutton">搜索</button></div>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>

        <!-- table list -->
        <div class="uk-overflow-container">
            <table id="assetList" class="uk-table uk-text-nowrap uk-table-hover uk-table-striped">
                <!-- host -->
                <thead>
                    <tr style="background-image:linear-gradient(to bottom,#fff,#eee);">
                        {% if catagory == 'display' %}
                        <th>品牌</th>
                        <th>型号</th>
                        <th>序列号</th>
                        {% elif catagory == 'host' %}
                        <th>CPU</th>
                        <th>内存</th>
                        <th>主板</th>
                        <th>显卡</th>
                        {% elif catagory == 'laptop' %}
                        <th>品牌</th>
                        <th>型号</th>
                        <th>序列号</th>
                        {% endif %}
                        <th>责任人</th>
                        <th>备注</th>
                        <th>入库时间</th>
                        <th>资产编号</th>
                        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
                        <th>操作</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for asset in assets %}
                    <tr class="uk-visible-hover-inline">
                        {% if catagory == 'display' %}
                        <td id="vendor" data-value="{% if asset.vendor %}{{ asset.vendor }}{% endif %}" class="column canBeSearch">{% if asset.vendor %}{{ asset.vendor|safe }}{% endif %}</td>
                        <td id="model" data-value="{% if asset.model %}{{ asset.model }}{% endif %}" class="column canBeSearch">{% if asset.model %}{{ asset.model|safe }}{% endif %}</td>
                        <td id="serial" data-value="{% if asset.serial %}{{ asset.serial }}{% endif %}" class="column canBeSearch">{% if asset.serial %}{{ asset.serial|safe }}{% endif %}</td>
                        {% elif catagory == 'host' %}
                        <td id="cpu" data-value="{% if asset.cpu %}{{ asset.cpu }}{% endif %}" class="column canBeSearch">{% if asset.cpu %}{{ asset.cpu|safe }}{% endif %}</td>
                        <td id="memory" data-value="{% if asset.memory %}{{ asset.memory }}{% endif %}" class="column canBeSearch">{% if asset.memory %}{{ asset.memory|safe }}{% endif %}</td>
                        <td id="motherboard" data-value="{% if asset.motherboard %}{{ asset.motherboard }}{% endif %}" class="column canBeSearch">{% if asset.motherboard %}{{ asset.motherboard|safe }}{% endif %}</td>
                        <td id="graphics" data-value="{% if asset.graphics %}{{ asset.graphics }}{% endif %}" class="column canBeSearch">{% if asset.graphics %}{{ asset.graphics|safe }}{% endif %}</td>
                        {% elif catagory == 'laptop' %}
                        <td id="vendor" data-value="{% if asset.vendor %}{{ asset.vendor }}{% endif %}" class="column canBeSearch">{% if asset.vendor %}{{ asset.vendor|safe }}{% endif %}</td>
                        <td id="model" data-value="{% if asset.model %}{{ asset.model }}{% endif %}" class="column canBeSearch">{% if asset.model %}{{ asset.model|safe }}{% endif %}</td>
                        <td id="serial" data-value="{% if asset.serial %}{{ asset.serial }}{% endif %}" class="column canBeSearch">{% if asset.serial %}{{ asset.serial|safe }}{% endif %}</td>
                        {% endif %}
                        <td id="employee_id" data-value="{% if asset.employee_name %}{{ asset.employee_name }}{% endif %}" class="column canBeSearch">{% if asset.employee_name %}{{ asset.employee_name|safe }}{% endif %}{% if asset.employee_status == False %}&nbsp;(离职){% endif %}</td>
                        <td id="note" data-value="{% if asset.note %}{{ asset.note }}{% endif %}" class="column canBeSearch">{% if asset.note %}{{ asset.note|safe }}{% endif %}</td>
                        <td id="create_time" data-value="{% if asset.create_time_str %}{{ asset.create_time_str }}{% endif %}" class="">{% if asset.create_time_str %}{{ asset.create_time_str|safe }}{% endif %}</td>
                        <td id="asset_sn" data-value="{% if asset.asset_sn %}{{ asset.asset_sn }}{% endif %}" class="canBeSearch">{% if asset.asset_sn %}{{ asset.asset_sn|safe }}{% endif %}</td>
                        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
                        <td  class="">
                            <!-- Operators -->
                            <div>
                                <a id="{{asset.id}}" class="modify" href="#assetform" data-uk-modal><i class="uk-icon-pencil-square-o"></i></a>
                                <a id="{{asset.id}}" class="danger" href="#deletebox" data-uk-modal><i class="uk-icon-times-circle"></i></a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        {% if Page %}
        <ul class="uk-pagination uk-panel uk-panel-box" style="padding:15px;">
            {% if Page.previous_page %}
                <li><a href="{{ processor_generate_search(page=Page.previous_page, search=search) }}"><span>&lt;&lt;</span></a></li>
            {% else %}
                <li class="uk-disabled"><span>&lt;&lt;</span></li>
            {% endif %}

            {% for p in Page.all_page() %}
                {% if p == "..." %}<li><span>{{p}}</span></li>
                {% else %}
                    {% if p == Page.curr_page %}
                        <li class="uk-active"><span>{{p}}</span></li>
                    {% else %}
                        <li><a href="{{ processor_generate_search(page=p, search=search) }}">{{p}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if Page.next_page %}
                <li><a href="{{ processor_generate_search(page=Page.next_page, search=search) }}"><span>&gt;&gt;</span></a></li>
            {% else %}
                <li class="uk-disabled"><span>&gt;&gt;</span></li>
            {% endif %}
        </ul>
        {% endif %}

    </div>

{% endblock %}

{% block windows %}
{% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
<!-- 页面弹框 -->
<form action="" class="uk-form uk-form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    <div id="assetform" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-pencil-square-o uk-icon-medium" style="color:#07d;"></i><h2>修改台式主机</h2></div>

            <div id="add_count" class="uk-form-row"><label class="uk-form-label">添加数量</label><div class="uk-form-controls">
                <select name="add_count" value="1">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div></div>
            
            {% if catagory == 'host' %}
            <!-- 台式主机 -->
            <div class="uk-form-row">
                <label class="uk-form-label">CPU<span style="color:#07d;">（必填）</span></label>
                <div class="uk-form-controls">{{ form.cpu }}</div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label">内存<span style="color:#07d;">（必填）</span></label>
                <div class="uk-form-controls">{{ form.memory }}</div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label">主板</label>
                <div class="uk-form-controls">{{ form.motherboard }}</div>
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label">显卡</label>
                <div class="uk-form-controls">{{ form.graphics }}</div>
            </div>
            
            {% elif catagory == 'display' %}
            <!-- 显示器 -->
            <div class="uk-form-row"><label class="uk-form-label">品牌<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form.vendor }}
            </div></div>

            <div class="uk-form-row"><label class="uk-form-label">型号<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form.model }}
            </div></div>

            <div class="uk-form-row"><label class="uk-form-label">序列号</label><div class="uk-form-controls">
                {{ form.serial }}
            </div></div>
            
            {% elif catagory == 'laptop' %}
            <!-- 笔记本电脑 -->
            <div class="uk-form-row"><label class="uk-form-label">品牌<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form.vendor }}
            </div></div>

            <div class="uk-form-row"><label class="uk-form-label">型号<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form.model }}
            </div></div>

            <div class="uk-form-row"><label class="uk-form-label">序列号</label><div class="uk-form-controls">
                {{ form.serial }}
            </div></div>
            
            {% endif %}
            
            <div class="uk-form-row"><label class="uk-form-label">责任人</label><div class="uk-form-controls">
                {{ form.employee_id }}
            </div></div>
            
            <div class="uk-form-row"><label class="uk-form-label">资产编号</label><div class="uk-form-controls">
                {{ form.asset_sn }}
            </div></div>

            <div class="uk-form-row"><label class="uk-form-label">备注</label><div class="uk-form-controls">
                {{ form.note }}
            </div></div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary">确定</button>
            </div>
        </div>
    </div>
</form>


<form action="" id="ipDelete" class="uk-form" method="POST">
    <div id="deletebox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-times-circle uk-icon-medium" style="color:#f00;"></i><h2>删除资产</h2></div>
            确定删除&nbsp;<span class="motion"></span>&nbsp;吗？
            <input type="text" class="uk-hidden" name="ip_id" id="delete_ip_id">
            <input type="text" class="uk-hidden" name="operate" value="delete">
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-danger">确定</button>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
