{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
$('document').ready(function(){

    $("table#employeeList").click(function(e){
        //修改员工信息
        var t = $(e.target).closest(".emplyMod");
        if (t.length == 1){
            $("#modifybox #na me").val(t.parent().parent().parent().find('td#name').text());
            $("#modifybox #department_id").val(parseInt(t[0].dataset.depid));
            $("form#emplyUpdate").attr("action", "{{prefix}}/employees/"+t.attr('id')+"/update/");
        }
        //删除员工信息
        t = $(e.target).closest(".emplyDel");
        if (t.length == 1){
            $("#deletebox").find(".motion").text(t.parent().parent().parent().find("#name").text());
            $("form#emplyDelete").attr("action", "{{prefix}}/employees/"+t.attr('id')+"/delete/");
        }
        //垃圾回收
        t = null;
    });
    
    // 生成组织树状结构
    var struct = {}; //用来保存树状组织架构的对象
    !function(){
        // 初始化所有部门
        var departments = [
        {%- for department in departments -%}
            {id:{{department.id}},name:'{{department.name}}',parent_id:{% if department.parent %}{{department.parent}}{% else %}0{% endif %},ipStart:{% if department.ipstart %}{{department.ipstart}}{% else %}0{% endif %},ipEnd:{% if department.ipend %}{{department.ipend}}{% else %}0{% endif %}},
        {% endfor -%}
        ];
        
        // 排序函数
        function Sort(a,b){
            return a.ipStart - b.ipStart;
        }
        
        // 将部门列表组织为树形对象，每个对象的 children 属性保存下级部门数组
        var fragment = document.createDocumentFragment();
        
        // 递归解析部门数组的函数
        function x(struct, parent_id){
            var deps = [];          //当前部门的下级部门集合
            for (var i=0; i<departments.length; i++){
                if(departments[i].parent_id == parent_id){
                    deps.push(departments.splice(i,1)[0]);
                    i--;
                }
            }
            deps.sort(Sort);
            struct.children = deps;  
            for (i=0; i<deps.length; i++){
                x(deps[i], deps[i].id);
            }
        }
        
        // 生成树状组织结构并保存到 struct 中
        x(struct, 0);
    }()
    
    //解析树状组织结构到左侧部门栏
    !function(){
        var currDepId = {% if curr_dep_id %}{{curr_dep_id}}{% else %}0{% endif %};
        var fragment = document.createDocumentFragment();
        function x(struct, container){
            for (var i=0; i<struct.children.length; i++){
                var li = document.createElement("LI");
                if (struct.children[i].id == currDepId){
                    li.classList.add("active");
                }
                li.innerHTML = "<a class='name' data-dep="+struct.children[i].id+" href={{prefix}}/employee/?dep="+struct.children[i].id+">"+struct.children[i].name+"</a>"+
                    "<span class='operator hidden'><a class='modify depUpdate' id='"+struct.children[i].id+"' data-name="+struct.children[i].name+" href='#depUpdate' data-uk-modal><i class='uk-icon-pencil-square-o'></i></a>"+
                    "<a class='danger depDel' id='"+struct.children[i].id+"' data-name="+struct.children[i].name+" href='#depDelete' data-uk-modal><i class='uk-icon-times-circle'></i></a></span>";
                container.appendChild(li);
                
                if (struct.children[i].children.length > 0) {   //该部门存在下级部门
                    var I = document.createElement("I");
                    I.classList.add("uk-icon-caret-right");
                    I.classList.add("dropdown");
                    li.insertBefore(I, li.children[0]);
                
                    var ul = document.createElement("UL");
                    ul.classList.add("hidden");
                    container.appendChild(ul);
                    x(struct.children[i], ul);
                } else {
                    var I = document.createElement("I");
                    I.classList.add("uk-icon-caret-right");
                    I.classList.add("hidden");
                    li.insertBefore(I, li.children[0]);
                }
            }
        }
        x(struct, fragment);
        $("#departments #list").append(fragment);
        
        //折叠\展开下级部门
        $("div#departments div#list i.dropdown").click(function(){
            var ul = this.parentNode.nextSibling;
            if (ul.classList.contains("hidden")) {
                this.classList.remove("uk-icon-caret-right");
                this.classList.add("uk-icon-caret-down");
                ul.classList.remove("hidden");
            } else {
                this.classList.remove("uk-icon-caret-down");
                this.classList.add("uk-icon-caret-right");
                ul.classList.add("hidden");
            }
        })
        
        //添加部门编辑功能
        $("a.depAdd").click(function(){
            $("form#formDepartmentAdd #parent").val(currDepId);
        });
        
        $("a.depDel").click(function(){
            $("form#formDepartmentDelete").attr("action", "{{prefix}}/departments/"+$(this).attr('id')+"/delete/");
            $("form#formDepartmentDelete .motion").text(this.dataset.name);
        });
    
        $("a.depUpdate").click(function(){
            $("form#formDepartmentUpdate").attr("action", "{{prefix}}/departments/"+$(this).attr('id')+"/update/");
            $("form#formDepartmentUpdate #name").val(this.dataset.name);
        });
        
        $("#departments li").mouseenter(function(event){
            this.classList.add("select");
            if (typeof(this.children[2]) != 'undefined') {
                this.children[2].classList.remove("hidden");
            }
        });
        
        $("#departments li").mouseleave(function(event){
            this.classList.remove("select");
            if (typeof(this.children[2]) != 'undefined') {
                this.children[2].classList.add("hidden");
            }
        });
    }();
    
    //页面各项功能的JS实现
    !function(){
        //设置项
        var preDisplayPage = 3;     //页码栏最多往前展示N页，其他用 "..." 代替
        var nextDisplayPage = 5;    //页码栏最后往前展示N页，其他用 "..." 代替
        
        var currDep = null;     //当前部门
        var currPage = null;    //当前页码
        var currKeyWord = null; //当前关键字
        var Count = null;       //保存总结果数，避免重复查找数据库
        
        //通过ajax获取员工信息列表
        var xhr = new XMLHttpRequest();
        function getEmployeeList(department, page, keyWord, args, recall){
            xhr.abort();
            var url = "";
            
            // 参数为 undefined 表示保持对应筛选条件不变
            if (typeof(department) != "undefined")
                currDep = department;
            if (typeof(page) != "undefined")
                currPage = page;
            if (typeof(keyWord) != "undefined")
                currKeyWord = keyWord;
            
            if (currDep != null)
                url += "dep="+currDep+"&";
            if (currPage != null)
                url += "page="+currPage+"&";
            if (currKeyWord != null)
                url += "search="+currKeyWord+"&";
                
            if (typeof(args) == "object") {
                for (name in args) {
                    if (typeof(args[name]) == "string") {
                        url += name+"="+args[name]+"&"
                    }
                }
            }
                
            if (url != "") {
                url = "?" + url.substring(0, url.length-1)
            }
            
            xhr.open("get", "{{prefix}}/employee/json/"+url, true);
            xhr.responseType = "json";
            xhr.timeout = 8000;
            xhr.onload = function(e){
                if(this.status == 200){
                    if (this.response["count"] != undefined) {
                        Count = this.response["count"];
                    }
                    recall({success:true, list:this.response.list, count:Count, rowsPerPage:this.response.rowsPerPage});
                } else {
                    recall({success:false});
                }
            };
            xhr.send(null);
        }
        
        // 更新HTML页面员工列表信息
        function updateEmployeeList(list){
            $("table#employeeList tbody *").remove();
            $("div#ListPrompt *").remove();
            var fragment = document.createDocumentFragment();
            
            for (var i=0; i< list.length; i++){
                var tr = document.createElement("TR");
                tr.classList.add("uk-visible-hover-inline");
                
                //基本信息
                tr.innerHTML = "<td id='name'>"+list[i].name+"</td>"+
                               "<td id='department'>"+list[i].dep+"</td>";
                               
                if (list[i].status == true) {
                    tr.innerHTML += "<td id='status'>在职</td>";
                } else {
                    tr.innerHTML += "<td id='status'>离职</td>";
                }
                
                //管理员操作
                {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
                tr.innerHTML += "<td>\n<div>\n<a id="+list[i].id+" data-depid="+list[i].department_id+" class='modify emplyMod' href='#modifybox' data-uk-modal><i class='uk-icon-pencil-square-o'></i></a>\n<a id="+list[i].id+" class='danger emplyDel' href='#deletebox' data-uk-modal><i class='uk-icon-times-circle'></i></a>\n</div>\n</td>\n";
                {% endif %}
                
                fragment.appendChild(tr);
                tr = null;
            }
            $("table#employeeList tbody")[0].appendChild(fragment);
        }
        
        //更新页码栏
        var $pageBox = $("ul#page");
        function updatePage(count, rowsPerPage, currPage) {
            var fragment = document.createDocumentFragment();
            $pageBox.children().remove();
            var maxPage = parseInt((count + rowsPerPage - 1) / rowsPerPage);
            var obj = null;     //临时保存创建的DOM元素
            
            //如果查找结果为0条数据
            maxPage = maxPage == 0 ? 1 : maxPage;
            
            //添加前一页按钮
            obj = document.createElement("LI");
            if (currPage != 1) {
                obj.innerHTML = "<a>&lt;&lt;</a>";
                obj.dataset.goto = currPage-1;
            } else {
                obj.classList.add("uk-disabled");
                obj.innerHTML = "<span class='uk-disabled'>&lt;&lt;</span>";
            }
            fragment.appendChild(obj);
            
            var hidPreviousPage = false;    //是否有之前的页码按钮被隐藏
            var hidNextPage = false;        //是否有之后的页码按钮被隐藏
            //添加页面按钮
            for (var i=1; i<=maxPage; i++) {
                
                if (i < currPage - preDisplayPage && i != 1) {
                    //隐藏首部多余页面按钮，并设置隐藏标记
                    hidPreviousPage = true;
                } else if (i > currPage + nextDisplayPage && i != maxPage) {
                    //隐藏尾部多余页面按钮，并设置隐藏标记
                    hidNextPage = true;
                } else {
                    obj = document.createElement("LI");
                    if (currPage == i){
                        obj.classList.add("uk-active");
                        obj.innerHTML = "<span>"+i+"</span>";
                    } else {
                        obj.innerHTML = "<a>"+i+"</a>";
                        obj.dataset.goto = i;
                    }
                    fragment.appendChild(obj);
                }
            }
            
            if (hidPreviousPage == true) {
                obj = document.createElement("LI");
                obj.innerHTML = "<span>...</span>";
                fragment.insertBefore(obj, fragment.children[2]);
            }
            if (hidNextPage == true) {
                obj = document.createElement("LI");
                obj.innerHTML = "<span>...</span>";
                fragment.insertBefore(obj, fragment.children[fragment.children.length-1]);
            }
            
            //添加后一页按钮
            obj = document.createElement("LI");
            if (currPage != maxPage) {
                obj.innerHTML = "<a>&gt;&gt;</a>"
                obj.dataset.goto = currPage+1;
            } else {
                obj.classList.add("uk-disabled");
                obj.innerHTML = "<span>&gt;&gt;</span>";
            }
            fragment.appendChild(obj);
            
            //呈现到页面
            $pageBox.append($(fragment));
        }
        
        // 根据部门查询
        var $currDepBar = $("div#departments li:eq(0)");  //保存当前点选的部门<li>标签
        $("#departments a.name").click(function(event){
            event.preventDefault();
            
            var department = null;
            var $clickDepBar = $(this).parents("li");
            if (typeof(this.dataset.dep) != 'undefined')
                department = this.dataset.dep;
            
            // 根据点选的部门(deparment)查找对应员工列表信息，页码设为第一页(null即是第一页)，搜索关键字不变(undefined)，并添加额外参数，并提供搜索完毕后的回调函数
            getEmployeeList(department, null, undefined, {count:"true"}, function(result){
                if(result.success){
                    // 数据获取成功
                    updateEmployeeList(result.list);    //更新员工信息栏
                    updatePage(result.count, result.rowsPerPage, 1);        //更新页码栏
                    $currDepBar.removeClass("active");
                    $clickDepBar.addClass("active");
                    $currDepBar = $clickDepBar;
                    $clickDepBar = null;
                } else {
                    // 数据获取失败
                    updatePage(1, 1)                    //更新页码栏
                    $("div#ListPrompt *").remove();
                    alert("数据加载失败");
                }
            });
        });
        
        // 根据页码查询
        var $currPageBar = $("ul#page li:eq(1)")
        $("ul#page").click(function(e){
            var $li = $(e.target).closest("li");
            console.log($li.data("goto"));
            if ($li.length > 0 && $li.data("goto") != undefined) {
                // 根据点选的页码(li.dataset("goto"))查找对应员工列表信息，部门保持不变(undefined)，搜索关键字不变(undefined)，不添加额外URL参数(null)，并提供搜索完毕后的回调函数
                getEmployeeList(undefined, parseInt($li.data("goto")), undefined, null, function(result){
                    if(result.success){
                        // 数据获取成功
                        updateEmployeeList(result.list);    //更新员工信息栏
                        updatePage(result.count, result.rowsPerPage, $li.data("goto"));        //更新页码栏
                    } else {
                        // 数据获取失败
                        $("div#ListPrompt *").remove();
                        alert("数据加载失败");
                    }
                });
            }
        });
        
        //根据关键字搜索
        $("div#searchBox button").click(function(e){
            var searchKey = $(e.target).parent().children("input").val();
            console.log(searchKey)
            // 根据关键字查找对应员工列表信息，部门保持不变(undefined)，页码设为第一页(null即是第一页)，并附带URL参数，并提供搜索完毕后的回调函数
            getEmployeeList(undefined, null, searchKey, {count:"true"}, function(result){
                if(result.success){
                    // 数据获取成功
                    updateEmployeeList(result.list);    //更新员工信息栏
                    updatePage(result.count, result.rowsPerPage, 1);        //更新页码栏
                } else {
                    // 数据获取失败
                    $("div#ListPrompt *").remove();
                    alert("数据加载失败");
                }
            });
            return false;
        });
    }();
    
    //初始化页面
    !function(){
        // 获取员工信息（模拟鼠标点击）
        var event = document.createEvent('HTMLEvents');
        event.initEvent("click", true, true);
        event.eventType = 'message';
        document.getElementById("departments").children[0].children[0].dispatchEvent(event);
    }();
});
</script>
{% endblock %}

{% block left %}
    <ul class="uk-nav uk-nav-side uk-nav-parent-icon">
        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
        <li>
            <a href="#netaddbox" data-uk-modal><i class="uk-icon-plus-square"></i>&nbsp新增员工</a>
        </li>
        {% if curr_dep_id == '0' %}
        <li>
            <a class="disabled depAdd" href="#"><i class="uk-icon-plus-square"></i>&nbsp添加下级部门</a>
        </li>
        {% else %}
        <li>
            <a class="depAdd" href="#depAdd" data-uk-modal><i class="uk-icon-plus-square"></i>&nbsp添加下级部门</a>
        </li>
        {% endif %}
        <li class="uk-nav-divider"></li>
        {% endif %}
    </ul>
    
    <div id="departments">
        <li {% if curr_dep_id == None %}class="active"{% endif %}>
            <a class="name">零壹移动互联</a>
        </li>
        
        <div id="list">
            <!-- department list -->
        </div>
        
        <li {% if curr_dep_id == '0' %}class="active"{% endif %}>
            <a data-dep="0" class="name">未指定部门的员工</a>
        </li>
    </div>
{% endblock %}

{% block right %}
    <div class="uk-width-3-4">
        <!-- search box -->
        <div class="uk-container" style="padding:0px;" data-uk-sticky="{top:10}">
            <div class="uk-flex-right uk-grid">
                <div class="uk-width-1-2"></div>
                <div class="uk-text-right uk-width-1-2">
                    <form class="uk-form" method="GET" action="#">
                        <fieldset data-uk-margin>
                            <div id="searchBox" class="uk-form-icon"><i class="uk-icon-search"></i>
                            <input placeholder="search..." autocomplete="off" type="text" name="search" value="{% if search %}{{search}}{% endif %}">
                            <button class="uk-button mybutton">搜索</button></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <!-- table list -->
        <div class="uk-overflow-container">
            <table id="employeeList" class="uk-table uk-text-nowrap uk-table-hover uk-table-striped">
                <thead>
                    <tr style="background-image:linear-gradient(to bottom,#fff,#eee);">
                        <th class="">员工姓名</th>
                        <th class="">所在部门/项目组</th>
                        <th class="">状态</th>
                        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
                        <th class="">操作</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for employee, department in employees %}
                    <tr class="uk-visible-hover-inline">
                        <td id="name">{{ employee.name|safe }}</td>
                        <td id="department">{% if department == None %}未指定{% else %}{{ department }}{% endif %}</td>
                        <td id="status">{%if employee.status==True %}在职{%elif employee.status==False %}离职{%else%}未知{%endif%}</td>
                        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
                        <td>
                            <div>
                                <a id="{{employee.id}}" data-depid="{{employee.department_id}}" class="modify emplyMod" href="#modifybox" data-uk-modal><i class="uk-icon-pencil-square-o"></i></a>
                                <a id="{{employee.id}}" class="danger emplyDel" href="#deletebox" data-uk-modal><i class="uk-icon-times-circle"></i></a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div id="ListPrompt">
                {% if not employees %}
                <div class="uk-alert uk-alert-warning">
                    {% if IP_count %}未找到相关内容 ....{% else %}点击左侧网络或使用搜索查找信息{%endif%}
                </div>
                {% endif %}
            </div>
        </div>

        <ul id="page" class="uk-pagination uk-panel uk-panel-box" style="padding:15px;"></ul>

    </div>

{% endblock %}

{% block windows %}
<form></form>
{% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
<form action="" id="emplyUpdate" class="uk-form uk-form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    <div id="modifybox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-pencil-square-o uk-icon-medium" style="color:#07d;"></i><h2>修改员工信息</h2></div>
            <div class="uk-form-row"><label class="uk-form-label">员工姓名</label><div class="uk-form-controls">
                {{ form.name }}
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">所在部门/项目组</label><div class="uk-form-controls">
                {{ form.department_id }}
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">是否在职</label><div class="uk-form-controls">
                {{ form.status }}
            </div></div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary">确定</button>
            </div>
        </div>
    </div>
</form>
<form action="" id="emplyDelete" class="uk-form" method="POST">
    <div id="deletebox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-times-circle uk-icon-medium" style="color:#f00;"></i><h2>删除员工</h2></div>
            确定删除&nbsp;<span class="motion"></span>&nbsp;吗？
            <input type="text" class="uk-hidden" name="ip_id" id="delete_ip_id">
            <input type="text" class="uk-hidden" name="operate" value="delete">
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-danger">确定</button>
            </div>
        </div>
    </div>
</form>

<form action="{{prefix}}/employees/add/" class="uk-form uk-form-horizontal" method="POST">
    {{ form.hidden_tag() }}

    <div id="netaddbox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-plus uk-icon-medium" style="color:#8CC14C;"></i><h2>添加新员工</h2></div>

            <div class="uk-form-row"><label class="uk-form-label">员工姓名<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form.name }}
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">所在部门/项目组<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form.department_id }}
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">是否在职</label><div class="uk-form-controls">
                {{ form.status }}
            </div></div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary" type="submit">确定</button>
            </div>
        </div>
    </div>
</form>

<form action="" id="formDepartmentDelete" class="uk-form" method="get">
    <div id="depDelete" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-times-circle uk-icon-medium" style="color:#f00;"></i><h2>删除IP地址</h2></div>
            确定删除&nbsp;<span class="motion"></span>&nbsp;吗？，删除后其下员工将置为部门未指定。
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-danger">确定</button>
            </div>
        </div>
    </div>
</form>

<form id="formDepartmentAdd" action="{{prefix}}/departments/add/" class="uk-form uk-form-horizontal" method="POST">
    {{ form_dep.hidden_tag() }}
    <div id="depAdd" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-plus uk-icon-medium" style="color:#8CC14C;"></i><h2>增加下级部门</h2></div>
            <div class="uk-form-row">
                <label class="uk-form-label">部门名字<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form_dep.name }}
                </div>
            </div>
            {{ form_dep.parent }}
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary" type="submit">确定</button>
            </div>
        </div>
    </div>
</form>

<form action="" id="formDepartmentUpdate" class="uk-form uk-form-horizontal" method="POST">
    {{ form_dep.hidden_tag() }}
    <div id="depUpdate" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-pencil-square-o uk-icon-medium" style="color:#07d;"></i><h2>重命名部门</h2></div>
            <div class="uk-form-row">
                <label class="uk-form-label">部门名字<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form_dep.name }}
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary" type="submit">确定</button>
            </div>
        </div>
    </div>
</form>


{% endif %}
{% endblock %}
