{% extends "ip.html" %}

{% block head %}
<script type="text/javascript">
'use strict'
$('document').ready(function(){
    var search_key = {% if search %}"{{ search }}"{% else %}null{% endif %};

    // IP地址数据添加
    $("table#ipList").click(function(e){
        var $a = $(e.target).closest("A");
        if ($a.hasClass("success")) {
            var i = 0,
                assetDiv = $($a.attr("href")),
                header = assetDiv.find("div.uk-modal-header");
            
            header.html("<i class='uk-icon-plus-square uk-icon-medium' style='color:#8CC14C;'></i><h2>启用IP地址</h2>");
            assetDiv.parent().attr("action", "{{prefix}}/ip/add/");
            assetDiv.find("input:not(#net),textarea").val("");
            assetDiv.find("input#addr").val($a.attr("id"));
            assetDiv.find("input#addr_str").val($a.closest("TR").children("td#addr_str").text());
        }
    });

    // IP地址数据编辑
    $("table#ipList").click(function(e){
        var $a = $(e.target).closest("A");
        if ($a.hasClass("modify")) {
            var i = 0,
                tds = $a.closest("TR").children("td.column"),
                assetDiv = $($a.attr("href")),
                header = assetDiv.find("div.uk-modal-header");
            
            header.html("<i class='uk-icon-pencil-square-o uk-icon-medium' style='color:#07d;'></i><h2>修改IP地址</h2>");
            assetDiv.parent().attr("action", "{{prefix}}/ip/"+$a.attr("id")+"/update/");
            
            for(; i < tds.length; i++) {
                assetDiv.find("#"+tds[i].id).val($(tds[i]).data("value"));
            }
        }
    });

    // IP地址数据删除
    $("table#ipList").click(function(e){
        var $a = $(e.target).closest("A");
        if ($a.hasClass("danger")) {
            var i = 0,
                info = "",
                tds = $a.closest("TR").children("td.column"),
                assetDelDiv = $($a.attr("href"));

            assetDelDiv.parent().attr("action", "{{prefix}}/ip/"+$a.attr("id")+"/delete/");
            
            for(; i < tds.length; i++) {
                info += $(tds[i]).text()+" ";
            }
            assetDelDiv.find(".motion").text(info);
        }
    });
    
    // 高亮显示结果中包含的搜索关键字
    !function(){
        if(search_key != null) {
            $("table#ipList td.canBeSearch").each(function(){
                $(this).html($(this).text().replace(/{{search}}/g, '<span class="search">{{search}}</span>'));
            });
        }
    }();
    
    // MAC地址查找
    !function(){
        var $button = $("a#find_mac");
        var $mac_input = $("div#ipform").find("input#mac");
        var $ipaddr_input = $("div#ipform").find("input#addr_str");

        function beforeSend(xhr) {
            $mac_input.val("");
            $button.text("查找中...");
            $button.addClass('disabled');
            $button.unbind('click', find_mac);
        }
        
        function success(msg) {
            var res = msg.split("'");
            res[0] == '{mac:' && $mac_input.val(res[1]);
            res[0] == '{err:' && alert(res[1]);
        }
        
        function error(xhr, status, error) {
            alert(error);
        }
        
        function complete() {
            $button.text("自动查找MAC");
            $button.removeClass('disabled');
            $button.bind('click', find_mac);
        }
        
        function find_mac() {
            $.ajax({
                type: "GET",
			    url: "{{prefix}}/find_mac/"+$ipaddr_input.val()+"/",
                beforeSend: beforeSend,
			    success: success,
                error: error,
			    timeout: 15000,
			    dataType: "text",
                complete: complete
            });
        }

        $button.bind('click', find_mac);
    }()
});
</script>
{% endblock %}

{% block right %}
    <div class="uk-width-3-4">
        <!-- search box -->
        <div class="uk-container" style="padding:0px;" data-uk-sticky="{top:10}">
            <div class="uk-flex-right uk-grid">
                <div class="uk-width-1-2"></div>
                <div class="uk-text-right uk-width-1-2">
                <form class="uk-form" method="GET" action="{{prefix}}/">
                    <fieldset data-uk-margin>
                        <div class="uk-form-icon"><i class="uk-icon-search"></i>
                        <input placeholder="search..." autocomplete="off" type="text" name="search" value="{% if search %}{{search}}{% endif %}">
                        <button class="uk-button mybutton">搜索</button></div>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>

        <!-- table list -->
        <div class="uk-overflow-container">
            <table id="ipList" class="uk-table uk-text-nowrap uk-table-hover uk-table-striped">
                <thead>
                    <tr style="background-image:linear-gradient(to bottom,#fff,#eee);">
                        <th class="">IP地址</th>
                        <th class="">使用人</th>
                        <th class="">设备mac</th>
                        <th class="">设备信息</th>
                        <th class="">部门</th>
                        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
                        <th class="">操作</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for IP in IPs %}
                    <tr class="uk-visible-hover-inline" id="{% if IP.employee_name %}used{% endif %}">
                        <td id="addr_str" data-value="{% if IP.addr_str %}{{ IP.addr_str }}{% endif %}" class="column canBeSearch">{% if IP.addr_str %}{{ IP.addr_str|safe }}{% else %}{{ IP.addr_ntop }}{% endif %}</td>
                        <td id="user" data-value="{% if IP.employee_name %}{{ IP.employee_name }}{% endif %}" class="column canBeSearch">{% if IP.employee_name %}{{ IP.employee_name|safe }}{% endif %}{%if IP.employee_status==False %}&nbsp;(离职){%endif%}</td>
                        <td id="mac" data-value="{% if IP.mac %}{{ IP.mac }}{% endif %}" class="column canBeSearch">{% if IP.mac %}{{ IP.mac|safe }}{% endif %}</td>
                        <td id="device" data-value="{% if IP.device %}{{ IP.device }}{% endif %}" class="column canBeSearch">{% if IP.device %}{{ IP.device|safe }}{% endif %}</td>
                        <td id="department" data-value="{% if IP.net_name %}{{ IP.net_name }}{% endif %}" class="canBeSearch">{{ IP.net_name|safe }}</td>
                        {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
                        <td class="">
                            <!-- Operators -->
                            <div>
                                {% if not IP.employee_name %}<a id="{{IP.addr}}" class="success" href="#ipform" data-uk-modal><i class="uk-icon-user-plus"></i></a>{% endif %}
                                {% if IP.employee_name %}<a id="{{IP.id}}" class="modify" href="#ipform" data-uk-modal><i class="uk-icon-pencil-square-o"></i></a>{% endif %}
                                {% if IP.employee_name %}<a id="{{IP.id}}" class="danger" href="#deletebox" data-uk-modal><i class="uk-icon-user-times"></i></a>{% endif %}
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not IPs %}
            <div class="uk-alert uk-alert-warning">
                {% if IP_count %}未找到相关内容 ....{% else %}点击左侧网络或使用搜索查找信息{%endif%}
            </div>
            {% endif %}
        </div>

        <!-- pagination -->
        {% if 0 %}
        <ul class="uk-pagination uk-panel uk-panel-box" style="padding:15px;">
            <li><a href="{% if last_get %}{{ last_get }}{% endif %}&page=0">1</a></li>

            {% if IPs.has_previous %}
                <li><a href="{% if last_get %}{{ last_get }}{% endif %}&page={{ IPs.previous_page_number }}"><span><<</span></a></li>
            {% else %}
                <li class="uk-disabled"><span><<</span></li>
            {% endif %}

            {% for p in page_range %}
                {% if p == "..." %}<li><span>{{p}}</span></li>
                {% else %}
                    {% if p == IPs.number %}
                        <li class="uk-active"><span>{{p}}</span></li>
                    {% else %}
                        <li><a href="{% if last_get %}{{ last_get }}{% endif %}&page={{ p }}">{{p}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if IPs.has_next %}
                <li><a href="{% if last_get %}{{ last_get }}{% endif %}&page={{ IPs.next_page_number }}"><span>>></span></a></li>
            {% else %}
                <li class="uk-disabled"><span></span></li>
            {% endif %}
            <li><a href="{% if last_get %}{{ last_get }}{% endif %}&page={{ IPs.paginator.num_pages }}">{% if IPs.paginator.num_pages %}{{ IPs.paginator.num_pages }}{% else %}1{% endif %}</a></li>
        </ul>
        {% endif %}

    </div>

<!-- IP 操作 -->
<form>
</form>
<form action="" class="uk-form uk-form-horizontal" method="POST">
    {{ form_ip.hidden_tag() }}
    <div id="ipform" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-user-plus uk-icon-medium" style="color:#8CC14C;"></i><h2>启用IP地址</h2></div>
            <div class="uk-form-row uk-hidden"><label class="uk-form-label">IP地址</label><div class="uk-form-controls">
                {{ form_ip.addr }}
            </div></div>
            <div class="uk-form-row uk-hidden"><label class="uk-form-label">网络</label><div class="uk-form-controls">
                {{ form_ip.net }}
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">IP地址</label><div class="uk-form-controls">
                <input type="text" id="addr_str" disabled="true"></input>
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">使用人</label><div class="uk-form-controls">
                {{ form_ip.user }}
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">设备mac</label><div class="uk-form-controls">
                {{ form_ip.mac }} <a id="find_mac" href"#">自动查找MAC</a>
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">设备信息</label><div class="uk-form-controls">
                {{ form_ip.device }}
            </div></div>
            <div class="uk-form-row"><label class="uk-form-label">同步到网关</label><div class="uk-form-controls">
                <input name="sync" type="checkbox" checked />
            </div></div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="submit uk-button uk-button-primary">确定</button>
            </div>
        </div>
    </div>
</form>

<form action="" id="ipDelete" class="uk-form" method="POST">
    <div id="deletebox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-times-circle uk-icon-medium" style="color:#f00;"></i><h2>删除IP地址</h2></div>
            确定停用&nbsp;<span class="motion"></span>&nbsp;吗？

            <hr>

            <div class="uk-form-row"><label class="uk-form-label">
                同步到网关<input name="sync" type="checkbox" checked />
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="submit uk-button uk-button-danger">确定</button>
            </div>
        </div>
    </div>
</form>

<!-- 网络操作 -->
<form action="" id="netModifyBox" class="uk-form uk-form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    <div id="netmodifybox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-pencil-square-o uk-icon-medium" style="color:#07d;"></i><h2>修改网络</h2></div>
            <div class="uk-form-row"><label class="uk-form-label">网络名称<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                {{ form.name }}
            </div></div>

            <div class="uk-form-row"><label class="uk-form-label">起始IP地址</label><div class="uk-form-controls">
                {{ form.ipstart }}
            </div></div>


            <div class="uk-form-row"><label class="uk-form-label">结束IP地址</label><div class="uk-form-controls">
                {{ form.ipend }}
            </div></div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary">确定</button>
            </div>
        </div>
    </div>
</form>

<form action="" id="netDeleteBox" class="uk-form" method="POST">
    <div id="netdeletebox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-times-circle uk-icon-medium" style="color:#f00;"></i><h2>删除网络</h2></div>
            确定需要删除网络&nbsp;<span class="motion"></span>&nbsp;吗？
            <div style="margin-top:10px;color:#f00"><i class="uk-icon-exclamation-triangle"></i>&nbsp;警告&nbsp;该操作将会删除此网络下的所有数据，包括IP地址信息。</div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-danger">确定</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
