{% extends "base.html" %}

<!-- block left -->
{% block left %}

<ul class="uk-nav uk-nav-side uk-nav-parent-icon">
    <!-- Settings -->
    {% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
    <li>
        <a href="{{ config.MOUNT_POINT }}/net/"><i class="uk-icon-gear"></i>&nbsp设置</a>
    </li>
    <li>
        <a href="#netaddbox" data-uk-modal><i class="uk-icon-plus-square"></i>&nbsp新增网段</a>
    </li>
    <li class="uk-nav-divider"></li>
    {% endif %}

    <!-- Nets -->
    {% for i in nets %}
    <li class="{% if currNetId == i.id %}uk-active{% endif %}">
        <a  href="{{ config.MOUNT_POINT }}/?net={{ i.id }}">{{ i.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

<!-- block right -->
{% block right %}
{% endblock %}

<!-- block windows -->
{% block windows %}
{% if current_user.is_authenticated and current_user.catagory == 'administrator' %}
<form action="{{ config.MOUNT_POINT }}/nets/add/" class="uk-form uk-form-horizontal" method="POST">
    {{ form.hidden_tag() }}

    <div id="netaddbox" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid"><i class="uk-icon-plus uk-icon-medium" style="color:#8CC14C;"></i><h2>添加新网络</h2></div>

            <div class="uk-form-row"><label class="uk-form-label">网络名称<span style="color:#07d;">（必填）</span></label><div class="uk-form-controls">
                <!--<input id="netmodifyname" type="text" autocomplete="off" name="name">-->
                {{ form.name }}
            </div></div>
            <!--<div class="uk-form-row"><label class="uk-form-label">附加描述</label><div class="uk-form-contro
                ls"><textarea id="netmodifydesc" type="text" autocomplete="off" name="desc"></textarea></div></div>-->

            <div class="uk-form-row"><label class="uk-form-label">起始IP地址</label><div class="uk-form-controls">
                <!--<input id="netmodifyname" type="text" autocomplete="off" name="ipstart">-->
                {{ form.ipstart }}
            </div></div>

            <div class="uk-form-row"><label class="uk-form-label">结束IP地址</label><div class="uk-form-controls">
                <!--<input id="netmodifyname" type="text" autocomplete="off" name="ipend">-->
                {{ form.ipend }}
            </div></div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-modal-close" type="button">取消</button>
                <button class="uk-button uk-button-primary" type="submit">确定</button>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
