<html>
<head></head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for catagory, message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
{% endwith %}
	<form action="/employees/add/" method="POST">
	{{ form.hidden_tag() }}
		name: {{ form.name }}<br>
		department: {{ form.department }}<br>
		<input type="submit" value="ok"/>
	</form>
	<ul>
		{% for obj in objs %}
		<li>{{ obj.id }}-{{ obj.name}}-{{ obj.user }}<a href="/employees/{{ obj.id }}/delete/">删除</a></li>
		{% endfor %}
	</ul>
</body>
</html>
